@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.projects .projects .project::after {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style start */
.main-btn {
  background-color: #ff3150 !important;
  color: #ffc400 !important;
}
.main-btn:hover {
  background-color: #a71228 !important;
}

/* Start navbar */
.navbar {
  background-color: #19283f;
}
.navbar .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
}
.navbar .navbar-nav .nav-link.active {
  color: #33d1cc;
}
.navbar .navbar-nav .nav-link:hover {
  color: #33d1cc;
}
.navbar .navbar-nav .nav-link:focus {
  color: #33d1cc;
}
.navbar .search {
  color: #33d1cc;
  border-left: 2px solid #33d1cc;
}
.navbar .search svg {
  cursor: pointer;
}
.navbar .navbar-toggler {
  color: white;
  font-size: 20px;
  border: 1px solid white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded=true] {
  border: 1px solid #33d1cc;
}
.navbar .main-btn {
  padding: 0.5rem 1rem;
}

/* End navbar */
/* Start Landing */
.landing {
  background-color: #19283f;
  min-height: calc(100vh - 72px);
}

/* End Landing */
.main-title::after {
  content: "";
  position: absolute;
  width: 120px;
  bottom: -20px;
  height: 2px;
  background-color: #33d1cc;
  left: 50%;
  transform: translateX(-50%);
}

/* Start features */
.features .feature .icon-holder {
  height: 200px;
}
.features .feature .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .feature .icon-holder .number {
  font-size: 12rem;
  color: #eff7fa;
}
.features .feature .icon-holder .icon {
  font-size: 4rem;
  color: #33d1cc;
}
.features .feature h4 {
  color: #ffc400;
}

/* End features */
/* Start Projects */
.projects {
  background-color: #eff7fa;
}
.projects .filter {
  gap: 1.5rem;
}
.projects .filter .active {
  background-color: #ff3150;
  color: #ffc400;
  padding: 0.5rem 1rem;
}
.projects .filter .filter-item {
  cursor: pointer;
  font-weight: 500;
}
.projects .filter .filter-item:hover {
  color: #ff3150;
}
.projects .projects {
  margin-top: 3rem;
  row-gap: 1.5rem;
}
.projects .projects img {
  width: 100%;
  border: 4px solid white;
}
.projects .projects .project {
  position: relative;
}
.projects .projects .project::after {
  width: 95%;
  height: 100%;
  background-color: #33d1cc;
  content: "Application";
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 1.5rem;
}
.projects .projects .project:hover::after {
  transform: scaleX(1);
}

/* End Projects */
/* Start About */
.about .desc {
  max-width: 500px;
}

/* End About */
/* Start Team */
.team {
  background-color: #eff7fa;
}
.team .heading h2 {
  color: #ffc400;
}
.team .box {
  background-color: white;
}
.team .box h4 {
  background-color: #33d1cc;
  padding: 0.5rem 1rem;
  color: white;
}
.team .box blockquote {
  padding: 0.5rem;
}

/* End Team */
/* Start start-project */
.start-project {
  background-color: #19283f;
  color: white;
}

/* End start-project */
/* Start Subscribe */
.subscribe {
  background-color: #ffc400;
}
.subscribe input[type=email] {
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.subscribe input[type=email]:focus {
  outline: none;
}
.subscribe input[type=email]::-moz-placeholder {
  color: white;
}
.subscribe input[type=email]:-ms-input-placeholder {
  color: white;
}
.subscribe input[type=email]::placeholder {
  color: white;
}
.subscribe input[type=submit] {
  background-color: #19283f;
  color: #ffc400;
}
.subscribe input[type=submit]:focus {
  outline: none;
}

/* End Subscribe */
/* Start Footer */
.footer {
  background-color: #19283f;
  color: white;
}
.footer .copyright > span {
  color: #33d1cc;
}
.footer .copyright div span {
  color: #ffc400;
}
.footer .contact .facebook {
  background-color: #1877f2;
}
.footer .contact .twitter {
  background-color: #1da1f2;
}
.footer .contact .linkedin {
  background-color: #0077b5;
}
.footer .contact .youtube {
  background-color: #ff0000;
}
/* End Footer */
/* Style end *//*# sourceMappingURL=style.css.map */